{% extends './base.html' %}

{% block pageTitle %}{{title}}{% endblock pageTitle %}

{}
{% block contentContainer %}
<div id="book_page_content_container" class="page_content_container flex_col">
    <h1 class="text_gradient" style="font-size:45px;margin-bottom: 30px;">{{title}}</h1>
{% if action == "create" %}
<form action="/book/create" method="post">
    <label for="title">Name of book</label><br>
    <input class="create-book-formtext" id="title" name="title" placeholder="Ex. The Adventure of Paddinton" type="text" required><br>

    <!-- <hr style="line-break: normal;"><br> -->
    <label for="description">Provide a description</label><br>
    <textarea name="description" id="description" placeholder="Your description should be a minimum of 50 words and maximum of 200 words" cols="70" rows="10" spellcheck="true" required></textarea><br>

    <!-- <hr style="line-break: normal;"><br> -->
    <label draggable="true" for="genre">What genre is your book</label><br>
    <input list="list-of-genre" id="genre" type="text" name="genre" placeholder="Please select a genre that best describe your book" required><br>
    <datalist id="list-of-genre">
        <option value="fantasy">Fantasy</option>
        <option value="adventure">Adventure</option>
        <option value="children story book">Children Story Book</option>
        <option>Science Fiction</option>
        <option>Mystery</option>
        <option>Comic</option>
        <option>Thriller</option>
        <option>Biography</option>
        <option>Educative books</option>
        <option value="">Others</option>
    </datalist>

    <label for="tags">Select tags that identify your book</label><br>
    <input type="text" placeholder="Select all that apply" readonly required>
</form>
{% elif action == "read" %}
{% elif action == "search" %}
    <hr>
    <div id="book_genres_wrapper" class="flex_row align_center">
        {% for genre in book_genres %}
        <a href="/book/{{action}}?genre={{quote(genre.get('genre_name').lower())}}">
            <div class="book_genre" style="background-image: url( {{genre.get('genre_image_url')}} );">
                <h1 class="book_genre_name" style="font-size: 45px; color: rgb(255, 255, 255);font-style: italic;">
                    {{genre.get('genre_name')}}
                </h1>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock contentContainer %}