{% extends './base.html' %}

{% block pageTitle %}{{ title }}{% endblock pageTitle %}

{% block contentContainer %}
<div id="form_page_content_container" class="page_content_container flex_col">
    <div id="form_container" class="flex_col align_center">
        {% block formTitle %}
        {% endblock formTitle %}
        <br>
        <p id="form_alert" class="form_iteraction" hidden>Plaese enter a valid email</p>
        <form id="form" purpose={% block formPurpose %}{% endblock formPurpose %} method="post">
            {% if register %}
            <input id="first_name" name="first_name" type="text" placeholder="First Name" required>
            <input id="last_name" name="last_name" type="text" placeholder="Last Name"><br>
            {% endif %}
            <input id="email" name="email" type="email" placeholder="Email Address" required><br>        
            <input id="password" minlength="5" maxlength="15" name="password" type="password" placeholder="Password" required>
            <div id="password_eye">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABUklEQVR4nO3UTSumYRQH8J+XRmn0LE3MmEjYTJMFeRrb2VmxUErJQgo7SVlYzGwUK1lgzQcwk/kAUxY2KBQLL3lNKeUL6K4rPd3duD2eFf516u5c5/r/r3Pucw7vKCBKUYUv+FAo0lr8wiZusYdd3ITvaXzLh7gCszjDJL4nxNRjFAdYwqe05E3hlTNB6CmUYQzH+JFGYAhdno92jHu1qMY/FBeIbxmtcecfjBSAvAvrKIkfRAN0iuwLyBtx/thsZEPvt+VB3oQjdDwW1BwEIhtO+U+K0INLnIRKPJheFPATn/EXW+h7YODK0Y01/A8Z9GM/SaQGh+iM+Rexgytsh05bxQauwwNWYncSRbpDmrnI4CK0cNQRdZjHAhrCds2E0lTG7vam2QYTmEvwRZaLKfz2THwM7fY1hUBVyDTNYrxHlPJggj9JIMJAQpnyQkuwN4Q7f+E8bSDkxQcAAAAASUVORK5CYII=" alt="closed-eye">
            </div>
            
            {% if register %}
            {% block otherInfo %}
            {% endblock otherInfo %}
            {% endif %}
            
            <input type="reset" value="Clear">
            <input type="submit" class="lily_buttons" value="Next"><br>
            {% block formFooter %}
            {% endblock formFooter %}
        </form>
    </div>
</div>
{% endblock contentContainer %}