@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


body {
    --lily-lightmode-header-color: #ffffff;
    --lily-lightmode-background-color: #f4f4f4;
    --lily-lightmode-foreground-color: #454545;
    --lily-darkmode-header-color: #454545;
    --lily-darkmode-background-color: #202124;
    --lily-darkmode-foreground-color: #e8eaed;

    --lily-button-border-color: #f97b05;
    --lily-static-button-background-color: #ffffff;
    --lily-hover-button-background-color: lightcyan;
}



/* Classes */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--lily-lightmode-foreground-color);
    font-family: Consolas, 'Courier New', monospace;
    font-family: 'Playwrite DE Grund';
    font-family: Fredoka;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}
body {
    width: 100dvw;
    height: 100dvh;
    scroll-behavior: smooth;
}

.lily_buttons {
    padding: 5px;
    width: 120px;
    height: 50px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    color: #2c2307;
    border-radius: 10px;
    border: 2px solid bisque;
    background-image: linear-gradient(#f97b05, #e6af2d);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.lily_buttons:hover, .lily_buttons:active {
    scale: 0.98;
}

svg {
    fill: var(--lily-lightmode-foreground-color);
}

.border_radius_50 {
    border-radius: 50%;
}

/* End of classes */

#body_container {
    width: 100%;
    height: 100%;
    background-color: var(--lily-lightmode-background-color) !important;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    overflow-x: hidden;
}

/* Page header */
#page_header {
    width: 100dvw;
    height: 85px;
    border-bottom: 1px solid #DDDDDD;
    background-color: var(--lily-lightmode-header-color);
    display: flex;
    align-items: center;
    font-size: 110%;
    z-index: -0;
}

/** Brand identity by logo and text **/
#brand_container {
    margin: 20px;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 65px;
}

#lily_text {
    margin-left: 10px;
    background-image: url(Lily.jpg);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    font-family: "Playwrite DE Grund";
    /* font-size: ; */
    filter: saturate(150%);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.445); */
}

/** Navigation **/
.navigation {
    display: flex;
    justify-content: space-around;
}

#top_nav {
    margin: 0 10px 0 30px;
    flex-direction: row;
    flex-shrink: 1;
}

.top_nav_items {
    margin: 0 20px;
    font-weight: 500;
}

/** Search box **/
#search_box {
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
#search_box:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
}

.search {
    border: 1px solid #cccccc;
}

/* Search input elem */
#search_input {
    padding: 20px;
    width: 75%;
    height: 100%;
    font-size: 90%;
    border-radius: 15px 0 0 15px;
    /* border-right: 0; */
}

#search_button {
    margin-left: 0.5px;
    width: 25%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    /* border-left: 0; */
    background-color: buttonface;
}

#search_input::placeholder {
    font-style: italic;
}
#search_input:hover, #search_button:hover{
    border: 1.5px solid #9f9f9f;
}
input:not([type="submit"],[type="reset"]):focus {
    outline: 1.5px solid #f97b05;
    border: none;
}


/** User Section: top-right corner **/
#user_section {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}


/* End of Page Header */

/* Page Main */
#page_main {
    margin-top: 86px;
    width: 100dvw;
    height: 100dvh;
    display: flex;
}

#side_nav {
    width: 8%;
    height: 100dvh;
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: 100%;
    gap: 20px;
    background-color: transparent;
    z-index: +5;
}

.side_nav_items {
    width: 120%;
    height: 120%;
    margin: 8px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.side_nav_items:hover {
    background-color: lightgrey;
}

#shown_toggle_buttons_wrapper {
    margin: 30px 80%;
    display: flex;
    width: 120px;
    background-color: transparent;
    box-shadow: none;
}
#shown_toggle_buttons_wrapper:hover {
    background-color: transparent;
}
#toggle_side_nav_items {
    height: 30%;
    width: auto;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
}
button#toggle_side_nav_items:hover {
    background-color: #bbb;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0, 0.5) ;
    > span > svg {
        fill: #fff;
    }
}

#toggle_nightday_button {
    /* margin: 25px 80%; */
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    align-self: center;
}
#toggle_nightday_button:hover {
    background-color: #bbb;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0, 0.5) ;
    > span > svg {
        fill: #fff;
    }
}


.flex_col {
    display: flex;
    flex-direction: column;
}
.flex_row {
    display: flex;
}
.justify_center {
    justify-content: center;
}
.align_center {
    align-items: center;
}

#popup {
    width: fit-content;
    height: fit-content;
    padding: 25px;
    background-color: #ffffff;
    /* border-width: 1px;
    border-color: #f97b05;
    border-style: solid; */
    border-radius: 5px;
    margin:auto;
    gap: 4px;
}
#popup::backdrop {
    background-color: rgba(0, 0, 0, 0.445);
}

#check_mark {
    fill: #00ff04;
}


/* Page Content Containers */
.page_content_container {
    /* margin-top: 86px; */
    width: 100dvw; 
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

#form_page_content_container {
    background-image: url(/Lily/static/assets/flower\ lily);
    background-repeat: no-repeat;
    background-size: cover;
}

div#form_container {
    width: 50dvw;
    height: calc(fit-content + 30px);
    border: 2px solid var(--lily-lightmode-foreground-color);
    background-color: #202124cc;
    padding: 20px;
    opacity: 0;
    animation-name: slidein;
    animation-delay: 0.5s;
    animation-duration: 2.5s;
    animation-timing-function: Fast Out, Linear In;
    animation-fill-mode: forwards;
}
@keyframes slidein {
    from {
        transform: translateY(-120%);
        opacity: 0.9;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

input:not([type="checkbox"], [type="search"]) {
    width: 100px;
    padding: 15px;
    background-color: #eeeeee;
    border-radius: 10px;
    border: 1px solid var(--lily-lightmode-foreground-color);
    margin: 10px 0px 20px 0px;
}
input:not([type="reset"], [type="submit"], [type="checkbox"]) {
    border-radius: 5px;
}

input:is([type="reset"]) {
    color: #202124;
    background-color: lightgrey;
}

input:is([type="submit"],[type="reset"]):hover:active {
    opacity: 70%;
}
input:not([type="search"])::placeholder {
    color: #202124;
}

/* Photo by <a href="https://unsplash.com/@steve_g_?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Steve Gribble</a> on <a href="https://unsplash.com/photos/a-night-sky-with-a-star-filled-sky-dtP06SqRbZA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */


#first_name, #last_name {
    width: 48%;
}

#email {
    width: 100%;
}
#password {
    width: 100%;
}

#submit {
    right: 50;
}

#welcome_text {
    margin: 20px 0px;
    font-size: 30px;
}

#password_eye {
    width: fit-content;
    height: fit-content;
    position:sticky;
    z-index: +2;
    margin-left: 80%;
    border-color: #ffffff;
    transform: translateY(-190%);
}

.text_gradient {
    background-clip: text;
    background-image: linear-gradient(#f97b05, #e6af2d);
    color: transparent;
}

.form_iteraction {
    color: antiquewhite;
}

.form_redirect {
    color: coral;
}

#form_alert {
    width: 100%;
    height: 45px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid var(--lily-button-border-color);
}


.sections {
    width: 100%;
    height: inherit; 
    display: flex;
    justify-content: space-around;
    border: 4px ridge red;
}
.welcome_section_image {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome_section_image > h1 {
    /* margin: 100px; */
    color: white;
}
#section1 {
    border: none;
}
#section2 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.books {
    border: 1px solid;
    width: 200px;
    height: 300px;
}

.position_fixed {
    position: fixed;
}


#book_genres_wrapper {
    width: 100%;
    height: 100%;
    height: fit-content;
    flex-wrap: wrap;
    gap: -20px;
    overflow-y:auto;
    perspective: 1500px;
}
.book_genres {
    width: 350px;
    height: 450px;
    border: 5px ridge lightslategrey;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: scalein 5s linear 0s 1;
    animation-timeline: view(90% 10%);
    transition: transform 2s ease;
    transform: rotateY(30deg);
}
.book_hover_effect:hover, .book_genre:hover {
    transform: none;
}

@keyframes scalein {
    from {
        scale: 0.8; opacity: 0.6;
    }
    to {
        scale: 1; opacity: 1;
    }
}


.book_genre_name::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
}

#book_page_content_container {
    /* background-image: url(chan-hoi-uj-w-v7OFT4-unsplash.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 640px) {
    .sm {
        display: none;
    }
}