@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    interpolate-size: allow-keywords;
}

body {
    --lily-lightmode-header-color: #ffffff;
    --lily-lightmode-background-color: #f4f4f4;
    --lily-lightmode-foreground-color: #454545;
    --lily-darkmode-header-color: #454545;
    --lily-darkmode-background-color: #202124;
    --lily-darkmode-foreground-color: #e8eaed;

    --lily-button-border-color: #f97b05;
    --lily-static-button-background-color: #ffffff;
    --lily-hover-button-background-color: lightcyan;
}



/* Classes */
* {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--lily-lightmode-foreground-color);
    font-family: Consolas, 'Courier New', monospace;
    font-family: 'Playwrite DE Grund';
    font-family: Fredoka;
    font-size: large;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}
body {
    width: 100dvw;
    height: 100dvh;
    scroll-behavior: smooth;
    height: fit-content;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button {
    padding: 5px;
    width: 120px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.main_btn {
    color: white !important;
    background-color: #FF8E05 !important;
    /* border: none; */
    /* background-image: radial-gradient(#e6af2d 50%, #f97b05); */
    /* border-image-outset: 0; */
    /* background-image: linear-gradient(#f97b05, #e6af2d); */
    /* background-color: #f6f6f6; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
}
.sub_btn {
    color: #FF8E05 !important;
    background-color: transparent !important;
    border: 2px solid #FF8E05 !important;
}

.lily_buttons:hover, .lily_buttons:active {
    scale: 0.98;
}

svg {
    fill: var(--lily-lightmode-foreground-color);
}

.border_radius_50 {
    border-radius: 50%;
}

/* End of classes */

#root {
    width: 100%;
    height: 100%;
    background-color: var(--lily-lightmode-background-color) !important;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

/* Page header */
#page_header {
    width: 100dvw;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    /* font-size: 110%; */
    border-bottom: 1px solid #DDDDDD;
    background-color: var(--lily-lightmode-header-color);
    z-index: -0;
}

/** Brand identity by logo and text **/
#header\:brand {
    margin: 20px;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 65px;
}

#lily_text {
    margin-left: 10px;
    background-image: url(../assets/pond.jpg);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    font-family: "Playwrite DE Grund";
    /* font-size: ; */
    filter: saturate(150%);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.445); */
}


#top_nav {
    margin: 0 10px 0 30px;
    display: flex;
    flex-direction: row;
}

.top_nav_items {
    margin: 0 20px;
    font-weight: 500;
}

/** Search box **/
#search_box {
    width: 45%;
    height: 50%;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
#search_box:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
}

.search {
    border: 1px solid #cccccc;
}

/* Search input elem */
#search_input {
    padding: 20px;
    width: 100%;
    height: 100%;
    font-size: 90%;
    border-radius: 15px 0 0 15px;
    /* border-right: 0; */
}

#search_button {
    margin-left: 0.5px;
    width: 25%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    /* border-left: 0; */
    background-color: buttonface;
}

#search_input::placeholder {
    font-style: italic;
}
#search_input:hover, #search_button:hover{
    border: 1.5px solid #9f9f9f;
}
input:not([type="submit"],[type="reset"]):focus {
    outline: 1.5px solid #f97b05;
    border: none;
}


/** User Section: top-right corner **/
#header\:user {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 30px;
}


/* End of Page Header */

/* Page Main */
#page_main {
    margin-top: 86px;
    width: 100dvw;
    height: 100dvh;
    display: flex;
}

#side_nav {
    margin-top: 20px;
    padding: 0 20px 30px;
    height: 75px;
    overflow: hidden;
    transition: height .5s ease;
    border: none;
    border-radius: 0 15px 15px 0;
    /* border-top-left-radius: 0;
    border-bottom-left-radius: 0; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: +5;
}
#side_nav:hover,
#side_nav:focus {
    height: max-content;
    /* border: 2px ridge lightslategray; */
    border-radius: 0 15px 15px 0;
}

.side_nav_items {
    width: 100px;
    height: 120%;
    margin: 8px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.side_nav_items:hover {
    background-color: lightgrey;
}

#shown_toggle_buttons_wrapper {
    margin: 30px 80%;
    display: flex;
    width: 120px;
    background-color: transparent;
    box-shadow: none;
}
#shown_toggle_buttons_wrapper:hover {
    background-color: transparent;
}
#toggle_side_nav_items {
    height: 40px;
    width: auto;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
}
button#toggle_side_nav_items:hover {
    background-color: #bbb;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0, 0.5) ;
    > span > svg {
        fill: #fff;
    }
}

#toggle_nightday_button {
    /* margin: 25px 80%; */
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    align-self: center;
}
#toggle_nightday_button:hover {
    background-color: #bbb;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0, 0.5) ;
    > span > svg {
        fill: #fff;
    }
}


.flex_col {
    display: flex;
    flex-direction: column;
}
.flex_row {
    display: flex;
}
.justify_center {
    justify-content: center;
}
.align_center {
    align-items: center;
}

#popup {
    width: fit-content;
    height: fit-content;
    padding: 25px;
    background-color: #ffffff;
    /* border-width: 1px;
    border-color: #f97b05;
    border-style: solid; */
    border-radius: 5px;
    margin:auto;
    gap: 4px;
}
#popup::backdrop {
    background-color: rgba(0, 0, 0, 0.445);
}

#check_mark {
    fill: #00ff04;
}


/* Page Content Containers */
.page_content_container {
    /* margin-top: 86px; */
    width: 100dvw; 
    height: 100dvh;
    align-items: center;
}

#form_page_content_container {
    background-image: url(../assets/lily_flower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#form_container {
    width: 50dvw;
    height: calc(fit-content + 30px);
    border: 2px solid var(--lily-lightmode-foreground-color);
    background-color: #202124cc;
    padding: 20px;
    opacity: 0;
    animation-name: slidein;
    animation-delay: 0.5s;
    animation-duration: 2.5s;
    animation-timing-function: Fast Out, Linear In;
    animation-fill-mode: forwards;
}
@keyframes slidein {
    from {
        transform: translateY(-120%);
        opacity: 0.9;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

input:not([type="checkbox"], [type="search"]) {
    width: 100px;
    padding: 15px;
    background-color: #eeeeee;
    border-radius: 10px;
    border: 1px solid var(--lily-lightmode-foreground-color);
    margin: 10px 0px 20px 0px;
}
input:not([type="reset"], [type="submit"], [type="checkbox"]) {
    border-radius: 5px;
}

input:is([type="reset"]) {
    color: #202124;
    background-color: lightgrey;
}

input:is([type="submit"],[type="reset"]):hover:active {
    opacity: 70%;
}
input:not([type="search"])::placeholder {
    color: #202124;
}

/* Photo by <a href="https://unsplash.com/@steve_g_?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Steve Gribble</a> on <a href="https://unsplash.com/photos/a-night-sky-with-a-star-filled-sky-dtP06SqRbZA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */


#first_name, #last_name {
    width: 48%;
}

#email {
    width: 100%;
}
#password {
    width: 100%;
}

#submit {
    right: 50;
}

#welcome_text_title {
    margin: 20px 0px;
    font-size: 40px;
}
#welcome_text_subtitle {
    font-size: 30px;
}

#password_eye {
    width: fit-content;
    height: fit-content;
    position:sticky;
    z-index: +2;
    margin-left: 80%;
    border-color: #ffffff;
    transform: translateY(-190%);
}

.text_gradient {
    background-clip: text;
    background-image: linear-gradient(#f97b05, #e6af2d);
    color: transparent;
    text-wrap: wrap;
}

.form_iteraction {
    color: antiquewhite;
}

.form_redirect {
    color: coral;
}

#form_alert {
    width: 100%;
    height: 45px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid var(--lily-button-border-color);
}


.sections {
    width: 100%;
    height: inherit; 
    display: flex;
    justify-content: space-around;
    border: 4px ridge red;
}
.welcome_section_image {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    &>div {
        position: relative;
        top: 18%;
    }
}
.welcome_section_image > h1 {
    /* margin: 100px; */
    color: white;
}
#section1 {
    border: none;
}
#section2 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.books {
    border: 1px solid;
    width: 200px;
    height: 300px;
}

.position_fixed {
    position: fixed;
}


#book_genres_wrapper {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y:auto;
    perspective: 1500px;
    justify-content: center;
}
.book_genre {
    width: 350px;
    height: 450px;
    border: 5px ridge lightslategrey;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: scalein 5s linear 0s 1;
    animation-timeline: view(90% 10%);
    transition: transform 2s ease;
    transform: rotateY(30deg);
}
.book_genre:hover {
    transform: none;
}

#user_popup {
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 60%;
    height: 80%;
    padding: 50px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 10px;
    overflow: hidden;
    background-image: linear-gradient(#55302D, #121212);
    &> h1 {
        position: relative;
        top: 18%;
        color: #EEE;
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        &>span {
            font-size: larger;
        }
    }
}
#user_popup:popover-open {
    display: flex;
}
#user_banner {
    width: 100%;
    height: 40%;
    border-radius:5px;
    background-image: url('../assets/cozy\ room.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
#user_popup_image {
    background-color:transparent;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 23%;
    &>img {
        border: 2px solid #ccc;
    }
}
#close_user_popup {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: transparent;
    font-size: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &>span {
        font-size: larger;
        color: white;
    }
}
#close_user_popup:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: 2;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}
  
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(20.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

@keyframes scalein {
    from {
        scale: 0.8; opacity: 0.6;
    }
    to {
        scale: 1; opacity: 1;
    }
}


.book_genre_name::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
}

#book_page_content_container {
    background-image: url(../assets/chan-hoi-uj-w-v7OFT4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 800px) {/* Any size smaller than max-width will have the stylings below */
    .sm {
        display: none;
    }
}